.file span { display: block; }
.file .fileheader, .file .hunkheader {color: #888888; }
.file .hunk .ctx { background: #eeeeee; }
.file .hunk .ins { background: #ddffdd; }
.file .hunk .del { background: #ffdddd; }

